        <footer class="footer">
            <div class="container">
                <p class="footerLabel">&copy; BlogChain 2018 | <a href="/dashboard">Home</a></p>
            </div>
        </footer>

        <!--JavaScript file for the menu-->
        <script type="text/javascript">
          var elems = document.querySelectorAll('.sidenav');
          var instances = M.Sidenav.init(elems, 'left');
        </script>
    </body>
</html>
