<% include ../partials/header %>
<div class="container">
    <div align="center" style="width:80%; margin: auto;">
      <p>Register an account with BlogChain to gain access to all features.</p>
      <h1>Register</h1>
      <form align="center" style="width: 50%;" action="/register" method="post">
        <div class="row">
          <input id="userName" type="text" class="validate" name="username" minlength="2" maxlength="50" placeholder="Please enter your preferred username here..." required>
          <label for="userName">Username</label>
        </div>
        <div class="row">
          <input id="password" type="password" class="validate" minlength="6" maxlength="50" name="password" placeholder="Please enter a password..." required>
          <label for="password">Password</label>
        </div>
        <div class="row">
          <input id="password_confirm" type="password" class="validate" minlength="6" maxlength="50" name="password_confirm" placeholder="Please confirm your password..." required>
          <label for="password_confirm">Password Confirmation</label>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">
            Register and Login
        </button>
      </form>
    </div>
</div>

<% include ../partials/footer %>
